.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}


.full-container{
    min-height: 100vh;

}

/*        <ng-template #list let-items>
            <div *ngFor="let product of products">
                <div class="card">
                    <img [src]="product.image" alt="product.name" />
                    <div class="card-content">
                        <h2>{{product.name}}</h2>
                        <p>{{product.description}}</p>
                        <p>{{product.price}}</p>
                        <button >Add to cart</button>
                    </div>
                </div>
            </div>
        </ng-template>*/
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card-content{
    padding: 10px;
    text-align: center;
}

.card-content h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-content p{
    font-size: 16px;
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}


.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}