version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: mongo_e_commerce
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
