.container-step{
    h3 {
        text-align: center;
    }
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 1rem;
    /*Shadow*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.loginstatus{
    text-align: center;
}

.right-button{
    display: flex;
    justify-content: flex-end;
}