<div class="full-container df ai-center jc-center">
    <div class="df item">
        <p-panel>
            <p-image [src]="product.image" [preview]="true">
                <ng-template #indicator>
                    <i class="pi pi-search"></i>
                </ng-template>
                <ng-template #image>
                    <img [src]="product.image" alt="image" width="720" />
                </ng-template>
                <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                    <img [src]="product.image" alt="image" [style]="style" (click)="previewCallback()" />
                </ng-template>
            </p-image>

        </p-panel>
        <p-panel>
            <h1>{{product.name}}</h1>

            <div class="space-betwwen-items">

                <h3>Descripcion:</h3>
                
                <p-table [value]="tableData">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Item</th>
                        <th>Description</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                      <tr>
                        <td>{{ row.key }}</td>
                        <td>{{ row.value }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
            </div>

            <div class="space-betwwen-items">
                <p>{{product.stock + ' items avaibale!'}}</p>

            </div>

            <div class="space-betwwen-items">
                <p>Our Rating:</p>
                <p-rating [(ngModel)]="product.rating" [readonly]="true"></p-rating>
            </div>


            <div class="space-betwwen-items">
                <p>Price:</p>
                <div class="df">
                    <p *ngIf="product.discount">
                        <s>{{'$' + getPreviosPriceAfterDiscount(product.price, product.discount) }}</s>
                    </p>
                    <p class="red">
                        <span *ngIf="product.discount">{{product.discount + '% OFF'}}</span>
                    </p>
                </div>
                <h2>{{'$' + product.price}}</h2>
            </div>


            <p-inputnumber [(ngModel)]="cuantity" prefix="↑ " inputId="Cuantity" suffix="units" [min]="1" [max]="product.stock" /> <br>

            <p-button icon="pi pi-shopping-cart"  label="Buy Now!" (onClick)="addToCart()"></p-button>





        </p-panel>
    </div>
</div>